{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>About LofiLyf</title>
{% endblock %}
{% block page_class %}about-page{% endblock %}
{% block content %}
<!-- BEGIN .about -->
  <section class="about">
    <header class="about__header">
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <h1 class="about__title">
              What We Offer at Lofilife?
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1">
            <img class="about__image about__image--header js-cover-image" src="{% static 'images/about/freestocks-8a95EVm0ovQ-unsplash_optimized.jpg' %}" srcset="{% static 'images/about/freestocks-8a95EVm0ovQ-unsplash_optimized@2x.jpg' %} 2x" data-placeholder-dimensions="1300x800">
          </div>
        </div>
      </div>
    </header>
    <div class="about__body">
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <p class="about__paragraph about__paragraph--first">
              Life itself contains everything and lifestyle is the way we pursue our lives. Here at Lofilife we bring you everything you are looking for, be it recent lifestyle trends, technology, nature, art and anything that you can think of. Come to our blog whenever you are in need for a guide or a perfect piece for your entertainment.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <p class="about__paragraph ">
              In times when anything and everything is just a click away, we wanted to create a blog from where you don't need to go to anywhere else in search of your want, you get to know about any topic here. We came from a long journey of writing for business blogs and doing content creation for various accounts. Now at just a click away for you guys. We give an insight into technology trends taking place in the market, various lifestyle hacks, art that you can appreciate and learn from, healthy and tasty foods you can savour, travelling destinations with beautiful views and much more. Not focusing on one but on many things we want to make sure you read our blog with a smile and content only to come back again for some more.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <img class="about__image about__image--panoramic js-cover-image" src="{% static 'images/about/katy-anne-nTP8aZjedqI-unsplash_optimized.jpg' %}" srcset="{% static 'images/about/katy-anne-nTP8aZjedqI-unsplash_optimized@2x.jpg' %} 2x" data-placeholder-dimensions="1300x800">
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <p class="about__paragraph ">
              Looking for top lifestyle styles for 2021? ... people from different cities, countries, and content now enjoy many more common ways of life.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <p class="about__paragraph ">
              Life itself is all-encompassing, and the way of life is the way we pursue our lives. Here at Lofilife, we bring you everything you want, be it the latest lifestyle trends, technology, environment, art, or whatever you can think of. Come to our blog whenever you need an example of a flawless piece in your entertainment.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <p class="about__paragraph ">
              When anything and everything just clicked away, we wanted to create a blog where you don’t have to go anywhere to search for what you want, and know about any topic here.
            </p>
          </div>
        </div>
         <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <p class="about__paragraph ">
              We come from a long journey of writing business blogs and we create content for various accounts. Now just a click away you guys. We provide an insight into the technological advances that are taking place in the market, the various hacks of life, the art you can appreciate and learn from, the healthy and delicious food you can enjoy, sightseeing, and much more.
            </p>
          </div>
        </div>
         <div class="row">
          <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <p class="about__paragraph ">
              Whether it is health and fitness, fast food or consumer entertainment, aspects of consumer lifestyle are constantly changing to address individual needs and new priorities. From developments around a millennium lifestyle, health innovation and healthy living, Lofilife’s lifestyle section will show what’s happening in the world of today’s consumers. Don't focus on one but on many things, we want to make sure you read our blog with smiles and content only to come back and find out more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END .about -->
{% endblock %}